<div class="sidebar_title">
    <h2>Resistances</h2>
</div>

<ol class="resistances">
    <li class="tag">Bludgeoning 2</li>
    <li class="tag">Piercing 3</li>
    <li class="tag">Fire 4</li>
    <li class="tag">Water 3</li>
    <li class="tag edit-btn">
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
</ol>

<div class="sidebar_title">
    <h2>Weaknesses</h2>
</div>

<ol class="resistances">
    <li class="tag">Bludgeoning 2</li>
    <li class="tag">Piercing 3</li>
    <li class="tag">Fire 4</li>
    <li class="tag">Water 3</li>
    <li class="tag edit-btn">
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
</ol>

<div class="sidebar_title">
    <h2>Immunities</h2>
</div>

<ol class="resistances">
    <li class="tag">Poison</li>
    <li class="tag">Acid</li>
    <li class="tag">Sonic</li>
    <li class="tag edit-btn">
        <a href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus"
            >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
    </li>
</ol>