.class-dc {
    display: flex;
    align-items: center;
    margin-right: 4px;
    justify-content: space-between;
    .data-value {
        padding-top: 3px;
        h2 {
            width: auto;
            margin-right: 0.25em;
        }
    }
    .stat-item + .stat-item {
        margin-left: 8px;
    }
}
