.roll-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 0 10px;
    }
    h4 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: url('../assets/sheet/plaque.png') no-repeat center center;
        color: var(--primary);
        text-transform: capitalize;
        font-family: $serif;
        font-size: 14px;
        padding: 4px 0 2px;
        border-radius: 1px;
        border: 1px solid #9f725b;
        /* prettier-ignore */
        box-shadow:
            inset 0 0 0 1px #e9d7a1,
            inset 0 0 0 2px #c3b396;
    }
}
