<form class="{{cssClass}}" autocomplete="off">
    <aside>
        <img
            class="logo"
            src="systems/pf2e/assets/pathfinder_logo.png"
            alt=""
            srcset=""
        />
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- HEALTH -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-health.html}}

            <!-- ARMOR CLASS -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-armorclass.html}}

            <!-- STAMINA (if enabled) -->
            {{#if_stamina}} {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-stamina.html}}
            {{/if_stamina}}

            <!-- Initiative -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-initiative.html}}

            <!-- Perception -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-perception.html}}

            <!-- Saves -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-saves.html}}

            <!-- Class DC -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-class-dc.html}}

            <!-- Resistances -->
            {{>
            systems/pf2e/templates/actors/crb-style/sidebar/actor-resistances.html}}
        </div>
    </aside>

    <section class="header">
        <!-- HEADER -->
        {{> systems/pf2e/templates/actors/crb-style/actor-header.html}}

        <!-- SHEET NAVIGATION -->
        <nav class="sheet-navigation">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="actions">
                    {{localize "PF2E.TabActionsLabel"}}
                </a>
                <a class="item" data-tab="inventory">
                    {{localize "PF2E.TabInventoryLabel"}}
                </a>
                <a class="item" data-tab="spellbook">
                    {{localize "PF2E.TabSpellbookLabel"}}
                </a>
                <a class="item" data-tab="skills">
                    {{localize "PF2E.TabSkillsLabel"}}
                </a>
                <a class="item" data-tab="feats">
                    {{localize "PF2E.TabFeatsLabel"}}
                </a>
                <a class="item active" data-tab="biography">Character</a>
            </nav>
        </nav>
    </section>

    <!-- BODY -->
    <section class="sheet-content content">
        <!-- Actions -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-actions.html}}

        <!-- INVENTORY -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-inventory.html}}

        <!-- SPELLBOOK -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-spellbook.html}}

        <!-- SKILLS -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-skills.html}}

        <!-- FEATS -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-feats.html}}

        <!-- BIOGRAPHY -->
        {{> systems/pf2e/templates/actors/crb-style/tabs/actor-biography.html}}
    </section>
</form>
