<div class="form-group">
    <label>{{localize "PF2E.ConsumableTypeLabel"}}</label>
    <select name="data.consumableType.value" data-dtype="{{data.consumableType.type}}">
        {{#select data.consumableType.value}}
        <option value=""></option>
        {{#each consumableTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableConsumeLabel"}}</label>
    <input type="text" name="data.consume.value" value="{{data.consume.value}}"
        data-dtype="{{data.consume.type}}" placeholder="{{localize "PF2E.FormulaPlaceholder"}}"/>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableAutoUseLabel"}}</label>
    <input type="checkbox" name="data.autoUse.value" value="1" data-dtype="{{data.autoUse.type}}" {{checked data.autoUse.value}}/>
</div>

 <div class="form-group">
    <label>{{localize "PF2E.ConsumableAutoDestroyLabel"}}</label>
    <input type="checkbox" name="data.autoDestroy.value" value="1" data-dtype="{{data.autoDestroy.type}}" {{checked data.autoDestroy.value}}/>
</div>
